body {
    font-family: Tahoma, Arial;
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    direction: rtl;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

button {
    background: #4facfe;
    border: none;
    padding: 12px;
    width: 100%;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}
